
.slider-wrapper{
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    border-radius: 10%

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25%;
    width: 30px;
    height: 30px;
    background: hsl(171, 100%, 41%);

}

.scroll-pane{
    height:250px;
    overflow:scroll;
    padding-left: 100px;
    padding-bottom: 10px;
    background-color:white;
    border-radius:10px;
}


.library, .sound{
    width:300px;
    height:100px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:30px;
    font-family:'arial medium';
    display:block;
    margin-left: 65px;
}


.button-row{
    display:block;
    margin-bottom:20px;
}
.sequencer{
    height:60px;
    width:60px;
}

/*Title CSS*/


.save{
    width: 222px;   
}


#sequenceTitle:hover{
    color: #AAAAAA;
}

input[type=text]{
    background:transparent;
    border:none;
    border-bottom: 1px solid #AAAAAA;
    width:fit-content;
    color:#AAAAAA;
}
input:focus{
    outline-width:0;
}

/*Sound Selection CSS*/

.sound-column{
    text-align:center;
    width:100px;
}

.track-selection{
    padding-top: 50px;
}

.track{
    width:70px;
    height:70px;
    margin:10px;
    color:white;
    font-size: 30px;
}

.submission{
    width:165px;
    height: 50px;
    margin-top:10px;
    font-size: 20px;
}

#soundLibrary{
    background-color:hsl(171, 100%, 41%);
}

.column-header{
    color:white;
}



/*track list*/
.sequencer{
    width:56px;
    height:56px;
}

.is-vertical-center{
    display:flex;
    align-items: center;
}

.tracklist{
    width:1000px;
}

.title{
    padding-top:10px;
    padding-left:10px;
}

.spacer{
    height: 20px;
}

.vlmLabel{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
}
.vlm{
    margin-top:-30px;
}
.volsec{
    height:185px;
}